body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, #caf0f8, #90e0ef);
}

h1 {
    text-align: center;
}

div.Login {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Usado para centralizar o elemento */
    padding: 80px;
    border-radius: 15px;
    color: white;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #90e0ef;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
}

button:hover {
    opacity: 0.8;
}